<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                         http://www.springframework.org/schema/beans/spring-beans.xsd
                         http://www.springframework.org/schema/context
                         http://www.springframework.org/schema/context/spring-context.xsd">
                         
    <bean id="sonyspeaker" class="kr.hs.study.beans.SonySpeaker"/>
    <bean id="applespaker" class="kr.hs.study.beans.AppleSpeaker"/>
    
	<bean id="samsung" class="kr.hs.study.beans.SamsungTV">
		<property name="price" value="20"/>
		<property name="speaker" ref="sonyspeaker"/>
	</bean>
	
	<bean id="lg" class="kr.hs.study.beans.LgTV">
		<constructor-arg value="20" index="0"/>
		<constructor-arg ref="applespaker" index="1"/>
	</bean>
</beans>